* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFE9D5;
}

.heading {
    text-align: center;
    padding: 10px;
    background-color: #71BBB2;
    color: #000000;
}

nav {
    padding: 10px;
    display: flex;
    flex-wrap: unset;
    justify-content: center;
    align-items: center;
    background-color: #27445D;
    color: #EFE9D5;
}

ul {
    list-style: none;
}

.nav-items {
    list-style: none;
    padding: 5px 10px;
}
.clicked-nav-items {
    background-color: #71BBB2;
}
.nav-items:hover {
    cursor: pointer;
}

.pages {
    margin: 10px;
    padding: 5px;
}

.hidden {
    display: none;
}

#home-page {
    margin: 0px;
    height: 86.6vh;
    background-color: #000000;
    color: #fff;
    align-content: center;
}

.home-page-content {
    display: flex;
    flex-wrap: unset;
    justify-content: center;
    font-size: 4vh;
}

.purple {
    color: rgb(133, 21, 133);
}

.yellow {
    color: rgb(255, 255, 154);
}

.dark-yellow {
    color: yellow;
}

.coral {
    color: rgb(198, 102, 67);
}

.blue {
    color: rgb(98, 98, 175);
}

.green {
    color: rgb(127, 205, 127);
}
